<div class="h-full flex flex-col bg-[rgb(var(--color-surface))] border-t border-[rgb(var(--color-border-base))]">
  <app-tab-control [showCollapseButton]="false">
    <app-tab title="Web Search">
      <app-web-search-results></app-web-search-results>
    </app-tab>
    <app-tab title="Image Search">
      <app-image-search-results></app-image-search-results>
    </app-tab>
    <app-tab title="Gemini Search">
      <app-gemini-search-results></app-gemini-search-results>
    </app-tab>
  </app-tab-control>
</div>