.service-graph-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.service-graph {
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-surface));
}

.node-group {
  cursor: pointer;
}

.node-group:hover circle {
  stroke-width: 3;
}

.node-group:hover text {
  font-weight: bold;
}

.links line {
  stroke: rgb(var(--color-border-base));
  stroke-width: 1;
}